<div class="container mt-4">

  <div class="row">
    <div class="col-sm-4">
      <h1>My profile</h1>
    </div>
    <div class="col-sm-8">
      <div *ngIf="editForm.dirty" class="alert alert-info">
        <strong>Information:</strong> You have made changes. Any unsaved changes will be lost!

      </div>
      </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="card">

      <br>
        <i class="fas fa-smile fa-3x" align="center"></i>

        <br>

        <div class="card-body">
          <div>
            <strong>Name:</strong>
            <p>{{user.name | titlecase}}</p>
          </div>
          <div>
            <strong>Username:</strong>
            <p>{{user.username}}</p>
          </div>
    

          <div class="card-footer">    
              <button [disabled]="!editForm.dirty" class="btn btn-primary btn-block" form="editForm">Save changes</button>
          </div>



        </div>
      </div>
    </div>


    <!--tab component-->
    <div class="col-sm-8">
      <div class="tab-panel">

        <tabset class="superhero-tabset">
          <tab heading="Edit profile">
            <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
              <div class="form">

                <label for="name"><b>New Name: </b></label>
                <input class="form-control" type="text" name="name" [(ngModel)]="user.name">

                <label for="name"><b>New Username: </b></label>
                <input class="form-control" type="text" name="username" [(ngModel)]="user.username">

              </div>
                </form>
          </tab>

          <tab heading="My Superheroes">
            <p>This section will display the list of my favourite superheroes.</p>
          </tab>

        </tabset>
      </div>
    </div>

  </div>
</div>
