<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<div class="card mb-4">

  <!--
  <div class="class-img-wrapper">
    <img class="card-img-top" src="{{superhero.photoUrl}}" alt="{{superhero.name}}">
    <ul class="list-inline superhero-icons animate text-center">
      <li class="list-inline-item"><button class="btn btn-primary"><i class="far fa-smile"></i></button></li>
      <li class="list-inline-item"><button class="btn btn-primary"><i class="far fa-heart"></i></button></li>
      <li class="list-inline-item"><button class="btn btn-primary"><i class="far fa-comment"></i></button></li>
    </ul>
  </div>

  <div class="card-body p-1">
    <h6 class="card-title text-center mb-1">
      <b> {{ superhero.name | titlecase}}</b>
    </h6>
  </div>

</div>
    -->



  <div class="card-img-wrapper">
    <img class="card-img-top" src="{{superhero.photoUrl}}" alt="{{superhero.name}}">
    <ul class="list-inline superhero-icons animate text-center">

      <li class="list-inline-item">
        <button
                class="btn btn-primary"
                [routerLink]="['/superhero-list/', superhero.id]">

          <i class="fas fa-mask"></i>
        </button>
      </li>

      <li class="list-inline-item">
      <button class="btn btn-primary">
        <i class="fas fa-heart"></i>
         </button></li>

      <li class="list-inline-item">
        <button class="btn btn-primary">
          <i class="fas fa-comment"></i>
        </button>
      </li>

    </ul>
  </div>

  <div class="card-body p-1">
    <h6 class="card-title text-center mb-1">
     <b> {{superhero.name | titlecase}}</b>
    </h6>
  </div>

</div>
